---
import navs from '../data/nav-items.json';
---

<nav class="h-13 top-0 max-w-6xl mx-auto px-4 relative z-20">
    <div class="flex justify-between items-center w-full h-full rounded-b-lg">
        <a href="/" class="font-bold h-9 flex rounded px-2 items-center transition duration-200 hover:text-black active:text-black hover:bg-gray-100 active:bg-gray-100">
            <i class="bi-house-door text-2xl mr-1"></i>
            Home
        </a>

        <div class="hidden sm:flex">
            {navs.map(nav => {
                const isNavInternal = nav.url.startsWith("/");
                const target = isNavInternal ? undefined : "_blank";

                return (
                    <a href={nav.url} target={target} class="font-bold h-9 flex rounded px-2 items-center transition duration-200 hover:text-black active:text-black hover:bg-gray-100 active:bg-gray-100">
                        {nav.name}
                        
                        {!isNavInternal && (
                            <i class="ml-1.5 bi-box-arrow-up-right"></i>
                        )}
                    </a>
                );
            })}
        </div>

        <button id="burger" class="h-9 flex sm:hidden rounded px-2 items-center transition duration-200 hover:text-black active:text-black hover:bg-gray-300 active:bg-gray-300">
            <i class="bi-list cursor-pointer text-2xl"></i>
        </button>
    </div>
</nav>

<div id="submenu" class="fixed top-13 overflow-hidden border-2 border-r-0 border-dashed rounded-l-lg right-0 w-40 z-10 transition-all duration-300 translate-x-40 h-full">
    <div class="w-full flex flex-col p-1 pr-0 gap-1">
        {navs.map(nav => {
            const isNavInternal = nav.url.startsWith("/");
            const target = isNavInternal ? null : "_blank";

            return (
                <a href={nav.url} target={target} class="font-bold flex justify-between active:bg-gray-100 active:text-black w-full p-2 pr-3 rounded-l-sm transition duration-200">
                    {nav.name}

                    {!isNavInternal && (
                        <i class="bi-box-arrow-up-right"></i>
                    )}
                </a>

                <hr class="border-dashed border-t-2"></hr>
            )
        })}
    </div>
</div>

<script>
    const submenu = document.getElementById("submenu");
    const anchors = submenu!.querySelectorAll("a");
    //const nav = document.querySelector("nav");
    const all = document.getElementById("all");
    const burger = document.getElementById("burger");

    let isOpen = false;

    burger!.onclick = () => {
        if (isOpen) {
            submenu?.classList.replace("translate-x-0", "translate-x-40");
            all?.classList.remove("-translate-x-40");
            document.body.classList.remove("overflow-hidden");
            //nav?.classList.remove("-translate-x-40");

            burger!.classList.remove("bg-gray-100", "text-black");
            burger!.firstElementChild?.classList.replace("bi-x", "bi-list");

            all!.onclick = null;

            isOpen = false;
        } else {
            submenu?.classList.replace("translate-x-40", "translate-x-0");
            all?.classList.add("-translate-x-40", "overflow-hidden");
            document.body.classList.add("overflow-hidden");
            //nav?.classList.add("-translate-x-40");

            burger!.classList.add("bg-gray-100", "text-black");
            burger!.firstElementChild?.classList.replace("bi-list", "bi-x");

            all!.onclick = burger!.onclick;

            isOpen = true;
        }
    }

    anchors.forEach(anchor => anchor.onclick = burger!.onclick);
</script>