---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";

const title = "Ryan";
const description = "The laziest programmer and professional sleeper";
const url = "https://kepalakubik.my.id";
const image = url + "/banner.webp";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={image} />
	</head>
	<body class="bg-gradient-to-tr bg-fixed from-sky-600 to-cyan-600 text-white">
		<Navbar />

		<div id="all" class="transition-all duration-300 transform-gpu -translate-x-40 !-translate-x-0">
			<slot />
		</div>

		<div id="top" class="cursor-pointer fixed w-11 h-11 bottom-2 right-2 rounded-full text-4xl bg-white flex items-center justify-center text-black shadow-md transition duration-300 transform-gpu translate-y-17">
			<i class="bi-caret-up"></i>
		</div>
	</body>
	
	<script>
		const top = document.getElementById("top");
		
		top?.addEventListener("click", () => {
			window.scrollTo({ top: 0, behavior: "smooth" });
		});

		window.addEventListener("scroll", () => {
			if (window.scrollY > 200) {
				top?.classList.remove("translate-y-17")
			} else {
				top?.classList.add("translate-y-17");
			}
		});
	</script>
</html>